.discounts {
    padding: 10px 0 100px;
    background: #fff;
    &__title {
        margin-bottom: 4rem;
        text-align: center;
        padding-top: 1rem;
        font-size: 3rem;
        font-weight: bold;
    }
    @media (max-width:450px) {
        padding: 10px 0 20px;
    }
}

.sale {
    &__text_small {
        color: #fff;
        margin-bottom: 2rem;
        font-size: 20px;
        line-height: 1.5;
        opacity: 0.7;
        @media (max-width: 1200px) {
            margin-bottom: 7rem;
        }
        @media (max-width:450px) {
            margin-bottom: 2rem;
        }
    }
    &__text_large {
        color: #fff;
        margin-bottom: 3rem;
        font-size: 96px;
        font-weight: 700;
        @media (max-width: 1200px) {
            margin-bottom: 7rem;
        }
        @media (max-width: 450px) {
            font-size: 34px;
            margin-bottom: 3rem;
        }
    }
    &__text_regular {
        color: #fff;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1.5;
    }
}

.sweet-price {
    background-color: #eb5757;
    position: relative;
    height: 100%;
    padding: 20px 60px;
    border-radius: 1rem;
    @media (max-width: 1146px) {
        margin-bottom: 10px;
    }
}

.sweet-price::after {
    background-image: url('../../public/img/sale/strawberry-img.webp');
    content: "";
    position: absolute;
    top: -60px;
    right: -24px;
    display: block;
    width: 220px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}

.couple {
    background-color: #56ccf2;
    position: relative;
    height: 100%;
    padding: 20px 60px;
    border-radius: 1rem;
    @media (max-width: 768px) {
        margin-top: 20px;
    }
}

.couple::after {
    background-image: url('../../public/img/sale/cherry-img.webp');
    content: "";
    position: absolute;
    top: -60px;
    right: -24px;
    display: block;
    width: 220px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 459px) {
    .couple,
    .sweet-price {
        padding: 55px 20px 0;
    }
    .sweet-price::after,
    .couple::after {
        width: 180px;
    }
    .sweet-price {
        margin-bottom: 10px;
    }
    .sale__row {
        width: 110%;
    }
    .sweet-price::after {
        height: 170px;
    }
    .sale__text_small {
        font-size: 16px;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .couple::after,
    .sweet-price::after {
        top: -40px;
        right: 0;
    }
}

@media (max-width: 991px) {
    .sale .col-lg-7 {
        margin-bottom: 25px;
    }
}