.section--white {
    background-color: white;
}

.about {
    &__text {
        width: 35%;
        font-size: 2rem;
        line-height: 1.5;
    }
    &__img {
        display: block;
        width: 60%;
    }
}