.technology {
    background: #fff;
    padding-bottom: 4rem;
    &__title {
        padding-top: 7rem;
        font-size: 2.8rem;
        line-height: 1.1;
        color: #333;
        font-weight: 700;
        text-align: center;
    }
    &__item {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: 450px) {
            flex-wrap: wrap;
        }
    }
    &__img {
        display: block;
        width: 50%;
        padding: 3rem;
        @media (max-width: 750px) {
            width: 100%;
            padding: 0;
            order: 2;
        }
    }
    &__bacgraund {
        background: transparent;
        border: 0px;
    }
    &__img-item {
        width: 100%;
        height: auto;
    }
    &__item-title {
        padding-left: 1rem;
        width: 45%;
        font-size: 2.4rem;
        line-height: 1.1;
        color: #333;
        font-weight: 700;
    }
    &__description {
        width: 49%;
        padding: 3rem;
        @media (max-width: 450px) {
            width: 100%;
        }
    }
}

.advantages-main-img img {
    width: 100%;
}

.description {
    width: 49%;
    padding: 3rem;
    &__logo {
        padding-bottom: 2rem;
        width: 100%;
        border-bottom: 2px solid #a7be39;
    }
    &__info {
        padding: 2rem 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #a7be39;
    }
    &__subtitle {
        font-size: 1.5rem;
        line-height: 1.3;
    }
}