.section {
    &__title {
        position: relative;
        padding-bottom: 3rem;
        font-weight: 800;
        font-size: 3.7rem;
        line-height: 1.1;
        text-align: left;
        text-transform: initial;
        color: $grey-dark;
        @media (max-width: 450px) {
            font-size: 3rem;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 8rem;
            height: 0.7rem;
            background-color: $green;
        }
        &--white {
            color: $white;
            &::after {
                background-color: $grey-dark;
            }
        }
    }
    &--inherit {
        background-attachment: fixed;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}